@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap');

body{
    font-family: 'Caveat';
    text-align: center;
    background-image: url("/images/photo-1518811829466-1372392d4544.jpeg");
    background-repeat: no-repeat;
}

textarea{
    width: 70%;
    height: 5rem;
}

#input-msg{
    margin-top: 3rem;
}

footer, h1{
    background-color: yellowgreen; 
    margin-block-start: 0em;
    margin-block-end: 0em;
}
footer{
    padding: 1rem;
    background-color: gray;
}

h2{
    background-color: whitesmoke;
}

 footer p{
     font-size: large;
     margin: 0% 15%;;
 }

#btn-translate{
     padding: 1rem 2rem;
     background-color: yellowgreen;
     font-family: 'Caveat', cursive;
     font-size: x-large;
     margin: 1rem;
 }

